MONGO_URI=mongodb+srv://username:password@host:port/databaseName?retryWrites=true&w=majority&appName=MyCluster
USER_SERVICE_LOCATION=http://localhost:3000
THREAD_SERVICE_LOCATION=http://localhost:3003
PORT=3001
